black
click
ipykernel
ipython_memory_usage
isort
keras
langdetect
loguru
matplotlib
numpy
openpyxl
pandas
pyarrow
pydocstyle
pytest-cov
scikit-learn
seaborn
tensorflow-macos==2.14.0
typing-extensions==4.9.0
